/* font-family: 'Alata', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Amiko', sans-serif; */
a{
	font-family:;
	text-decoration: none;
	color: black;
}



a:hover{
	text-decoration: none;
}


}
#ytlink{
	position: relative;
	top: 3px;
}

#ytlink{
	color: red;
}


/*The three items in the header */
#yt{

}

#backhome{
	color: #FFF;
}

#menu{
	color: #008db1;
}



h1{
	font-family: 'Alata';
}

h2{
	font-family: 'Raleway';
	font-weight: bolder;
}
p{
	font-family: 'Amiko';
	text-align: center;
}



.grandentrance{
	background-color:#9f9f9f;
  z-index: 1;
	width: 100%;
	height:60px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	box-shadow: 3px 3px 5px black;
	position: fixed;
}

#see{
}

#weather{
	font-size: 25px;
}


#icon img{
	position: relative;
  left: 440px;
	bottom: px;
	border-radius: 20px;
}

#ytvideo{
	background-color: #ffa382;
	border-radius: 20px;
	border: 1px solid black;
}

#Mainevent{
	background-color: #ffa382;
	border-radius: 20px;
	border: 1px solid black;
}


#bloggo{
	background-color:#008db1;
	border-radius: 20px;
	border: 1px solid black;
	text-align: center;
	color: #FFF;
}

.Blog{
	position: relative;
  top: 3px;
}

#factday{
	background-color:#008db1;
	border-radius: 20px;
	border: 1px solid black;
	color: #FFF;
}

.fact{
position: relative;
top: 3px;
}

.photos img{
	border-radius: 20px;
	border: 1px solid black;

}

.suggestions textarea{
	border-radius: 5px;
		border: 1px solid black;
}

#button{
	position: relative;
	left: 1020px;
	border-radius: 20px;
	background-color:#9f9f9f;
		border: 1px solid black;
}

.line3{
border: 1px solid black;
}


.introtext{
	text-align: center;
}

.page-header-fluid .btn:hover {
	background-color:#FFF;
}


.mymenu{
	word-spacing: 10px;
	align-self: center;
	text-align: center;
}


.intro{
	text-align: center;

}

.introvideo{
	text-align: center;
}

.firsttitle{
	position: relative;
	bottom: 10px;
	font-size: 32px;
}

.secondtitle{
	position:
	font-size: 32px;
}



.imagescarimg{
	width: 20px;

}



#headerItem1{
position: relative;
top: 8px;
left: 20px;
}

#headerItem1 i{
	color: #008db1;
	position: relative;
	bottom: 11px;

}
#headerItem2 h1{
font-size: 60px;
text-align: center;
position: relative;
top: -10px;
}

#headerItem3{
	text-align: right;
	position: relative;
	right: 15px;
	top: 10px;
}




/* MEDIA QUERIES, biggest screen size to the smallest*/




@media screen and (max-width: 985px) {
	#headerItem2 h1{
		font-size: 33px;
		position: relative;
		top: 9px;
	}
	}


@media screen and (max-width: 575px) {
	.grandentrance{
		position: relative;
		height: 200px;
	}

	#headerItem1{
		text-align: center;
		position: relative;
		left: -4px;
		top: 20px;
	}

	#headerItem2 h1{
			font-size: 60px;
	}


	#headerItem3{
		text-align: center;
	}


	}
